Ooolation Fundraising Campaign

<div class='progress'>
  raised: <%= @all_raised %> out of <%= @all_goal %>
</div>

<div class='campaigns'>
  <% @campaigns.each do |campaign| %>
    <a href="http://www.indiegogo.com/#{campaign.slug}">
      <div class='campaign' style=<%="background-image:url(#{campaign.image_url})" %>>
        <div class='title'>
          <%= campaign.title %>
        </div>
        raised <%= campaign.raised %> / <%= campaign.goal %>

        ------------
      </div>
    </a>
  <% end %>
</div>
