<div class='title'>
  <div class='logo'>
    <%= image_tag 'logo.png' %>
  </div>
  <div class='subtitle'>
    A creative incubator for kaleidoscope ideas and voices to collide consonantly.
  </div>
</div>

<div class='progress'>
  <div class='progress-bar'>
    <div class='raised' style=<%="width:#{@snapshot.percent_raised};#{@raised_extra_styles}"%>>
    </div>
    <div class='togo' style=<%="width:#{@snapshot.percent_togo};#{@togo_extra_styles}" %>>
    </div>
  </div>
  <div class='progress-numbers'>
    <div class='raised'>
      <%= @snapshot.raised %>
    </div>
    <div class='of'>
      of
    </div>
    <div class='goal'>
      <%= @snapshot.goal %>
    </div>
  </div>
</div>

<div class='campaigns'>
  <% Campaign.all.each do |campaign| %>
    <a href="http://www.indiegogo.com/#{campaign.slug}">
      <div class='campaign' style=<%="background-image:url(#{campaign.image_url})" %>>
        <div class='campaign-spacer'>
        </div>
        <div class='raised-numbers'>
          <%= campaign.display_raised %> raised
        </div>
        <div class='progress-bar'>
          <div class='raised' style=<%="width:#{campaign.percent_raised}"%>>
          </div>
          <div class='togo' style=<%="width:#{campaign.percent_togo}" %>>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
