<div class='sunrise'>
  <div class='nature'>
    <div class='sunrise1'>
      <a href='#' name='sunrise1'></a>
      <div class='skyline'>
        <div class='title'>
          <div class='logo'>
            Ooolite Song Kitchen
          </div>
          <div class='subtitle'>
            awaits
          </div>
        </div>
        <div class='chorus'>
          <div class='singers'>
            <div class='singer male sway'>
              <%= render 'svg/male1.svg' %>
            </div>
            <div class='singer female sway'>
              <%= render 'svg/female1.svg' %>
            </div>
            <div class='singer male sway'>
              <%= render 'svg/male2.svg' %>
            </div>
            <div class='singer female sway'>
              <%= render 'svg/female2.svg' %>
            </div>
            <div class='singer male sway'>
              <%= render 'svg/male3.svg' %>
            </div>
            <div class='singer female sway'>
              <%= render 'svg/female3.svg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='taneger-fly-space'>
      <div class='taneger fly'>
        <%= render 'svg/taneger.svg' %>
      </div>
    </div>
  </div>
</div>

<div class='photos'>
  <div class='photo photo1'>
    <%= image_tag "photo1.jpg" %>
  </div>

  <div class='photo photo2'>
    <%= image_tag "photo2.jpg" %>
  </div>

  <div class='photo photo3'>
    <%= image_tag "photo3.jpg" %>
  </div>

  <div class='photo photo4'>
    <%= image_tag "photo4.jpg" %>
  </div>

  <div class='photo photo5'>
    <%= image_tag "photo5.jpg" %>
  </div>

  <div class='photo photo6'>
    <%= image_tag "photo6.jpg" %>
  </div>

  <div class='photo photo7'>
    <%= image_tag "photo7.jpg" %>
  </div>
</div>

<div class='funds'>
  <div class='funds-titles'>
    <div class='funds-title'>
      Support Us!
    </div>

    <div class='funds-subtitle'>
      Help the Ooolites pay for these singers to come
    </div>
    <div class='funds-subtitle-link'>
      <strong>
        <%= link_to "learn more", root_path %>
      </strong>
    </div>
  </div>

  <div class='progress'>
    <div class='progress-bar'>
      <div class='raised' style=<%="width:#{@snapshot.percent_raised};#{@raised_extra_styles}"%>>
      </div>
    </div>
    <div class='progress-numbers'>
      <div class='raised'>
        <%= @snapshot.raised %>
      </div>
      <div class='of'>
        of
      </div>
      <div class='goal'>
        <%= @snapshot.goal %>
      </div>
    </div>
  </div>

  <div class='campaigns'>
    <% Campaign.all.each do |campaign| %>
      <a href=<%= "http://www.indiegogo.com/projects/#{campaign.slug}" %>>
        <div class='campaign' style=<%="background-image:url(#{campaign.image_url})" %>>
          <div class='campaign-spacer'>
          </div>
          <div class='raised-spacer'>
            <div class='raised-numbers'>
              <%= campaign.display_raised %> raised
            </div>
          </div>
        </div>
        <div class='raised-circle'>
          <svg viewbox="0 0 36.8 36.8" class="circular-chart">
            <path class="circle"
              stroke-dasharray=<%= "#{campaign.integer_percent_raised},100" %>
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
        <div class='raised-circle togo-circle'>
          <svg viewbox="0 0 36.8 36.8" class="circular-chart">
            <path class="circle togo"
              stroke-dasharray=<%= "100,100" %>
              d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831"
            />
          </svg>
        </div>
      </a>
    <% end %>
</div>

<script>
  $(document).ready(function() {
    let carosel = function() {
      setTimeout(
      function()
      {
        $('.photo1').css('opacity', '1');
        setTimeout(
        function()
        {
          $('.photo2').css('opacity', '1');
          setTimeout(
          function()
          {
            $('.photo3').css('opacity', '1');
            setTimeout(
            function()
            {
              $('.photo4').css('opacity', '1');
              setTimeout(
              function()
              {
                $('.photo5').css('opacity', '1');
                setTimeout(
                function()
                {
                  $('.photo6').css('opacity', '1');
                  setTimeout(
                  function()
                  {
                    $('.photo7').css('opacity', '1');
                    setTimeout(
                    function()
                    {
                      $('.photo1').css('opacity', '0');
                      $('.photo2').css('opacity', '0');
                      $('.photo3').css('opacity', '0');
                      $('.photo4').css('opacity', '0');
                      $('.photo5').css('opacity', '0');
                      $('.photo6').css('opacity', '0');
                      $('.photo7').css('opacity', '0');
                      setTimeout(carosel, 1000);
                    }, 4000);
                  }, 4000);
                }, 4000);
              }, 4000);
            }, 4000);
          }, 4000);
        }, 4000);
      }, 4000);
    }
    carosel();
  })
</script>
