<div class='sunrise'>
  <div class='nature'>
    <div class='sunrise1'>
      <a href='#' name='sunrise1'></a>
      <div class='title'>
        <div class='logo'>
          <%= image_tag 'logo.png' %>
        </div>
      </div>
      <div class='skyline'>
        <%= render 'svg/skyline.svg' %>
      </div>
    </div>

    <div class='sun'>
      <%= render 'svg/sun.svg' %>
    </div>
    <div class='aspen'>
      <%= render 'svg/aspen.svg' %>
    </div>
    <div class='taneger-fly-space'>
      <div class='taneger'>
        <%= render 'svg/taneger.svg' %>
      </div>
    </div>
  </div>

  <div class='blurbs'>
    <div class='blurb1'><a href='#' name='blurb1'></a></div>
    <div class='blurb2'><a href='#' name='blurb2'></a></div>
    <div class='blurb3'><a href='#' name='blurb3'></a></div>
    <div class='blurb4'><a href='#' name='blurb4'></a></div>
    <div id='scrolldown' class='fades-in'>
      Scroll down to see more! <br>↓
    </div>
    <div id='blurb1' class='fades-in'>
      Ooolation is a <strong>creative incubator</strong> for musicians and artists.
    </div>
    <div id='blurb2' class='fades-in'>
      Every year we gather in the Eastern Sierra to collaborate and rehearse.
    </div>
    <div id='blurb3' class='fades-in'>
      Our colorful themes center around the stewardship of nature.
    </div>
    <div id='blurb4' class='fades-in'>
      The week culminates in several amazing performances.
    </div>
    <div class='blurb5'><a href='#' name='blurb5'></a></div>
    <div id='blurb5' class='fades-in'>
      We need
      <strong>
      <%= link_to "your help", funds_path %>
      </strong>
       to continue bringing these messages to our vulnerable world.
    </div>
  </div>
</div>

<script>
function scrollTo(offset){
  $('html,body').animate(
    {
      scrollTop: offset
    },
    'slow'
  );
}

var sunrise1 = $('a[name="sunrise1"]').offset().top;
var blurb1 = $('a[name="blurb1"]').offset().top;
var blurb2 = $('a[name="blurb2"]').offset().top;
var blurb3 = $('a[name="blurb3"]').offset().top;
var blurb4 = $('a[name="blurb4"]').offset().top;
var blurb5 = $('a[name="blurb5"]').offset().top;
var scrollPos = 0;

$(window).ready(function(){
  $("#scrolldown").css('opacity', '1');
  $(window).scroll(function() {
    scrollPos = $(this).scrollTop();
    if (scrollPos > sunrise1) {
      $("#scrolldown").css('opacity', '0');
      $(".title").css("top", "-20vh")
      if (scrollPos > blurb1) {
        $(".taneger").addClass('fly');
        $("#blurb1").css('opacity', '1');
        if (scrollPos > blurb2) {
          $("#blurb1").css('opacity', '0');
          $("#blurb2").css('opacity', '1');
          if (scrollPos > blurb3) {
            $("#blurb2").css('opacity', '0');
            $("#blurb3").css('opacity', '1');
            if (scrollPos > blurb4) {
              $("#blurb3").css('opacity', '0');
              $("#blurb4").css('opacity', '1');
              if (scrollPos > blurb5) {
                $("#blurb4").css('opacity', '0');
                $(".sun").addClass('sun-up');
                $("#blurb5").css('opacity', '1');
              } else {
                $("#blurb5").css('opacity', '0');
              }
            } else {
              $("#blurb3").css('opacity', '1');
              $("#blurb4").css('opacity', '0');
            }
          } else {
            $("#blurb2").css('opacity', '1');
            $("#blurb3").css('opacity', '0');
          }
        } else {
          $("#blurb1").css('opacity', '1');
          $("#blurb2").css('opacity', '0');
        }
      } else {
        $("#blurb1").css('opacity', '0');
        $(".taneger").removeClass('fly');
      }
    } else {
      $("#scrolldown").css('opacity', '1');
      $(".title").css("top", "5vh")
    }
  });
});
</script>
